# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml

**/node_modules
typeScriptCheatSheet/exporter.js
typeScriptCourse/Types/app.js
**/package-lock.json
